@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
  --primary: #22223b;
  --secondary: #4a4e69;
  --tertiary: #9a8c98;
  --brown: #c9ada7;
  --light: #f2e9e4;
  --gradient1: linear-gradient(90deg, rgba(154,140,152,1) 0%, rgba(201,173,167,1) 100%);
  --gradient2: linear-gradient(270deg, rgba(154,140,152,1) 0%, rgba(201,173,167,1) 100%);
}

body {
  margin: 0;
  font-family: 'Railway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utilities */

.btn {
  display: block;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 0px;
  border: none;
  font-size: 14px;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(0.99) translateY(1px)
}

.line {
  background: var(--brown);
  width: 50%;
  max-width: 150px;
  height: 3px;
}

.italic {
  font-style: italic;
}

.pills {
  display: flex;
  flex-wrap: wrap;
}

.pill {
  margin-right: 10px;
  margin-bottom: 20px;
  background: var(--secondary);
  padding: 5px 15px;
  border-radius: 20px;
  white-space: none;
}

/* Animations */
@keyframes zoomIn {
  0% {transform: scale(1)}
  100% {transform: scale(1.1)}
}